* {
    box-sizing: border-box;
}

.state {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
}
.state--title {
    text-align: center;
}
.state--value {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
}
